<!-- Ionic tabs provide the primary mobile navigation pattern for the app. -->
<ion-tabs>
  <!-- Bottom tab bar keeps the four assessment workflows one tap away. -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" [routerLink]="['/tabs/list']">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" [routerLink]="['/tabs/add']">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit" [routerLink]="['/tabs/edit']">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="privacy" [routerLink]="['/tabs/privacy']">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Privacy</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
